#partner
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#partner img {
    width:auto; height:120px;
}

#texteDuLogo
{
    color: #FFFFFF;
    font-family: 'Qwigley', cursive;
}


/* CSS NAVBAR  */

body {
    background-color: #FFFFFF;; 
}

.navbar-brand {
    margin-left: 10px;
    color: white;
}

.navbar-expand-lg {

    background-color: #450C1E;
    color: white;
    font-family: "Roboto";
    font-size: 1.3em;
}


ul li a {
    margin: 0 50px 0 50px;

}

ul li a:hover {
    color: #f4c174;
}

/* CSS PAGE INDEX */

.titreIndex{
    font-size: 1.6em;
    color: #f4c174;

}


/* PROGRAMME */

.card-img-top {
    height: 200px;
}


#titleProg {
    color: #f4c174;
    font-weight: bold;
}

/* MAP */

.map {
    display: flex;
    justify-content: center;
}

/* FOOTER */

footer{
    background-color: #450C1E;
}

.footer-copyright{
    color: white;
    font-size: 0.7em;
}

.socials {
    display: flex;
    justify-content: center;
}

.socials > a{
    margin: 0 20px 0 20px;
} 

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: #f4c174;
}

#footer-first{
    align-items: center;
}

/* BILLETERIE */

.nb-places{
    width: 4em;
}

.TR > label> a{
    color: black;
}

.book-button{
    background: #f4c174;
    border-color: #f4c174;
    color: #450C1E;
}

.book-button:hover{
    background: #450C1E;
    border-color: #450C1E;
    color: #f4c174;

}

#phraseBillet {
    color: black;
}

/* CSS CARD PROGRAMME ET BILLETERIE */

.card{
    background-size: cover;
}

#card-pass-1{
    background-image: url(images/IMG_0990-2.jpg);
}

#card-pass-2{
    background-image: url(images/chocolate_wine.jpg);
}

#card-pass-3{
    background-image: url(images/schokolade-wein-seminar.jpg);
}

.card-title{
    color: #f4c174;
    font-size: 2.5em;
}

.card-text , .tarifs, .TR > label > a{
    color: white;
}

h4 {
    color: #f4c174;
}