/* CSS NAVBAR  */

body {
    background-color: #eeee; 
}

.navbar-brand {
    margin-left: 10px;
    color: white;
}

.navbar-expand-lg {
    margin-bottom: 50px;
    background-color: #450C1E;
    color: white;
    font-family: "Roboto";
    font-size: 1.3em;
}

ul li a {
    margin-right: 50px;
    margin-left: 50px;
    color: white;
}

ul li a:hover {
    color: #f4c174;
}

section {
    width: 100px;
    height: 100px;
}

/* FOOTER */

footer{
    background-color: #450C1E;
}

.col-md-12 {
    color: white;
}

.py-5{
    text-align: center;
}

.footer-copyright{
    color: white;
}

.mb-5 {
    display: flex;
    justify-content: center;
}

.mb-5 > a{
    margin: 0 20px 0 20px;
} 

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: #f4c174;
}

#footer-first{
    align-items: center;
}
